nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(75, 211, 229);
    color: whitesmoke;
    
    p{
        margin : 0
    }
    
    a {
        text-decoration: none;
        color: whitesmoke;

    }
   
}

.logo{
    font-family:"Climate Crisis", sans-serif ;
    font-size: x-large;
}

.button-deconnexion-container{
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}