<h3>INSCRIPTION</h3>
<br/>
<form #inscriptionForm="ngForm" (ngSubmit)="inscription()" >



    <div class="mb-3">
        <label for="nom" class="form-label">Nom :</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="lastname" class="form-control" #nom="ngModel" required />
    </div>
    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
    class="alert alert-danger">
    <div *ngIf="nom.hasError('required')">
        Le nom est requis
    </div>
</div>



<div class="mb-3">
    <label for="prenom" class="form-label">Prénom :</label>
    <input type="text" id="prenom" name="prenom" [(ngModel)]="firstname" class="form-control" #prenom="ngModel" required />
</div>
<div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
class="alert alert-danger">
<div *ngIf="prenom.hasError('required')">
    Le prénom est requis
</div>
</div>


    <div class="mb-3">
        <label for="mail" class="form-label">Email :</label>
        <input type="email" id="mail" name="mail" [(ngModel)]="email" class="form-control" #mail="ngModel" required email/>
    </div>
    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
    class="alert alert-danger">
    <div *ngIf="mail.hasError('required')">
        L'email est requis
    </div>
    <div *ngIf="mail.hasError('email')">
        L'email n'est pas valide</div>
</div>

    <div class="mb-3">
        <label for="mdp" class="form-label">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" [(ngModel)]="password" class="form-control" #mdp="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"/>
    </div>
        <div *ngIf="mdp.invalid && (mdp.dirty || mdp.touched)"
        class="alert  alert-danger">
        <div *ngIf="mdp.hasError('required')">
            Le mot de passe est requis
            </div>
            <div *ngIf="mdp.errors?.['pattern']">
                Le mot de passe doit contenir au moins 8 caractères, incluant au moins une minuscule, une majuscule, un chiffre et un caractère spécial
            </div>
    </div>

    <div class="mb-3">
        <label for="mdp2" class="form-label">Confirmez le mot de passe :</label>
        <input type="password" id="mdp2" name="mdp2" [(ngModel)]="confirmPassword" class="form-control" #mdp2="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"/>
    </div>
    
        <div *ngIf="mdp2.invalid && (mdp2.dirty || mdp2.touched)"
        class="alert  alert-danger">
             <div *ngIf="mdp2.hasError('required')">
            La confirmation du mot de passe est requise
             </div>
             <div *ngIf="mdp2.errors?.['pattern']">
                Le mot de passe doit contenir au moins 8 caractères, incluant au moins une minuscule, une majuscule, un chiffre et un caractère spécial
            </div>
         </div>

        <div class="mb-3">
            <label class="form-label">Mes Permis :</label>
            <div *ngFor="let licence of licences">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [id]="licence" [value]="licence"
                           (change)="toggleLicenceSelection(licence)" [checked]="licencesList.includes(licence)">
                    <label class="form-check-label" [for]="licence">{{licence.type}}</label>
                </div>
            </div>
        </div>



    <div class="mb-3">
        <label for="date" class="form-label">Date de naissance :</label>
        <input type="date" id="date" name="date" [(ngModel)]="birthdate" class="form-control" #date="ngModel" required pattern="{{ dateValidator(birthdate)}}"/>
    </div>
    <div *ngIf="date.invalid && (date.dirty || date.touched)"
        class="alert  alert-danger">
             <div *ngIf="date.hasError('required')">
            La date de naissance est requise
             </div>
             <div *ngIf="!isMajeur">Vous devez être majeur pour vous inscrire</div>
         </div>



    <div class="mb-3">
        <label for="rue" class="form-label">Rue :</label>
        <input type="text" id="rue" name="rue" [(ngModel)]="street" class="form-control" #rue="ngModel" required />
     </div>
     <div *ngIf="rue.invalid && (rue.dirty || rue.touched)"
     class="alert  alert-danger">
          <div *ngIf="rue.hasError('required')">
         Le numéro et nom de la rue est requis
          </div>
      </div>


    <div class="mb-3">
        <label for="cp" class="form-label">Code Postal :</label>
        <input type="text" id="cp" name="cp" [(ngModel)]="postalCode" class="form-control" #cp="ngModel" required pattern="[0-9]{5}" />
    </div>
    <div *ngIf="cp.invalid && (cp.dirty || cp.touched)"
    class="alert  alert-danger">
    <div *ngIf="cp.hasError('required')">
        Un code postal 
        </div>
        <div *ngIf="cp.errors?.['pattern']">Le code postal doit contenir exactement 5 chiffres</div>
</div>


    <div class="mb-3">
        <label for="ville" class="form-label">Ville :</label>
        <input type="text" id="ville" name="ville" [(ngModel)]="city" class="form-control" #ville="ngModel" required />
    </div>
    <div *ngIf="ville.invalid && (ville.dirty || ville.touched)"
    class="alert alert-danger">
    <div *ngIf="ville.hasError('required')">
       La ville est requise
    </div>
</div>

    @if( mail.pristine || mdp.pristine || (mail.invalid && (mail.dirty || mail.touched))){
        <div class="button">
            <button type="submit" [disabled]="true" class="btn btn-primary">Veuillez remplir tous les champs</button>
        </div>
    }@else{
        <div class="button">
            <button type="submit" [disabled]="false" class="btn btn-primary">Envoyer</button>
        </div>
    }
    <br>
    
    <br>
   
</form>

<br/>
<br/>
