<div class="recherche-container">
  <p>Trouvez votre véhicule idéal ! Choisissez vos dates de réservation :</p>
  <mat-form-field>
    <mat-label>Choisissez la période</mat-label>
    <mat-date-range-input [min]="minDate" [max]="maxDate" [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint></mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    @if (range.controls.start.hasError('matStartDateInvalid')) {
      <mat-error>Date de départ invalide</mat-error>
    }
    @if (range.controls.end.hasError('matEndDateInvalid')) {
      <mat-error>Date de fin invalide</mat-error>
    }
  </mat-form-field>
    <button class="btn btn-primary" (click)="recupererTousLesVehiculesParDate()">Rechercher</button>
</div>


<ul class="vehicule-card-container" >
  <li  class="card" style="width: 18rem;margin: 5%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;" *ngFor="let vehicule of listeVehiculesParDate">
    <img src={{vehicule.imagePath}} class="card-img-top">
    <div class="card-body">
      <h4 class="card-title" style="font-weight: 600;">{{vehicule.brand}}  {{vehicule.model}}  </h4>
      <p class="card-text" >  couleur : {{vehicule.color}}</p>
      <a [routerLink]="['/detailsVehicule',vehicule.idVehicle]" class="btn btn-primary">Plus d'infos</a>

    </div>
    
</li>

</ul>

<div class="photo-accueil-container">
  <div class="card-home" >
   
     <h3 style="font-weight: 600;">BIENVENUE CHEZ LOCAR !</h3>
     <p>LOUEZ UNE VOITURE DE PREMIÈRE CLASSE. PAYEZ LE PRIX D’UNE ÉCONOMIE</p>
     <p>Louez des véhicules haut de gamme en France et dans le monde entier. Notre flotte compte plus de 222 000 voitures de location, dont les meilleurs modèles des constructeurs automobiles comme BMW, Mercedes, Audi et bien d'autres encore.</p>
    
  
</div>
 
</div>
