.card{
    width: 70%;
    margin: 0 auto;
     margin-top: 5%;
}

.card-top{
    display: flex;
}

.card-top-aside{
    padding: 2%;
    width: 100%;
    font-size: x-large;
}

@media (max-width: 1050px) {
    .card-top{
        display: flex;
        flex-direction: column;
    }

}

.card-bottom-button{

    display: flex;
    justify-content: center;

    button{
        margin: 1%;
    }

}