.card{
    width: 80%;
    margin: 0 auto;
     margin-top: 5%;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-top{
    display: flex;
}

.card-top-aside{
    padding: 2%;
   
    
}

.card-top-image{
max-width: 35%;
}

@media (max-width: 1050px) {
    .card-top{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card-top-image{
        max-width: none;
        }


}

.card-bottom-button{

    display: flex;
    justify-content: center;

    button{
        margin: 1%;
    }

}